body {
  font-family: "latolight ","Lato", sans-serif;
  background-color: white;
}
@font-face {
  font-family: 'lulo-clean-w01-one-bold';
  src: url('/path/to/lulo-clean-w01-one-bold.woff2') format('woff2'),
       url('/path/to/lulo-clean-w01-one-bold.woff') format('woff');
}

@font-face {
  font-family: 'lulo-clean-w05-one-bold';
  src: url('/path/to/lulo-clean-w05-one-bold.woff2') format('woff2'),
       url('/path/to/lulo-clean-w05-one-bold.woff') format('woff');
}
