body {
  font-family: "Jost", "sans-serif"; 
  background-color: white;
}

@font-face {
  font-family: 'Jost-Regular'; 
  src: url('/path/to/jost-regular.woff2') format('woff2'),
       url('/path/to/jost-regular.woff') format('woff');
}

@font-face {
  font-family: 'Jost-Bold';
  src: url('/path/to/jost-bold.woff2') format('woff2'),
       url('/path/to/jost-bold.woff') format('woff');
}
